.profitCell {
  display: inline-flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;

  input {
    width: 30px;
  }
}

.amountCell {
  @extend .profitCell;
  width: 90%;
}

.iconWrapper {
  display: flex;
  justify-content: center;
}

.targetPrice {
  @extend .profitCell;

  input {
    width: 45px;
  }
}

.sign {
  color: #A2A7B9;
}

.input {
  -webkit-appearance: none;
}

input[type="number"] {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

input[type="text"] {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
